<div class="container" id="mainContainer">
<div class="row">
    <div class="col-lg-10 offset-lg-1">


      <header>
		  <p>Sejam bem-vindos(as) à TAIS - a Tecnologia de Aprendizado Interativo do Salic. A assistente virtual está sendo desenvolvida para facilitar aos usuários informações sobre os mecanismos de incentivo fiscal e o Salic.</p>
		  <p>Nesse primeiro momento, enquanto ainda está em fase de aperfeiçoamento, a ferramenta está habilitada a responder perguntas básicas sobre a Lei Rouanet e o sistema, e será de grande auxílio para quem, como a própria TAIS, está dando seus primeiros passos no gerenciamento de projetos via Salic.</p>
		  <p>Para avançarmos em sua construção, contamos com a valiosa contribuição do setor cultural para que possamos aprimorar e ampliar sua base de dados de forma participativa e colaborativa, construindo conjuntamente o repertório e vocabulário que irão alimentar as respostas de nosso robô virtual. Certos de que a TAIS contribuirá de modo expressivo para que os usuários do Salic possam esclarecer suas dúvidas com rapidez e eficiência, agradecemos desde já sua colaboração e apoio.</p>
		  <p>Clique no botão vermelho para enviar sugestões, críticas e comentários para tais.betateste@gmail.com</p>
      </header>
      <nav class="nav-justified">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
		  <a class="nav-item nav-link active" id="pop1-tab" data-toggle="tab" href="#pop1" role="tab" aria-controls="pop1" aria-selected="true">Novidades</a>
          <a class="nav-item nav-link" id="pop2-tab" data-toggle="tab" href="#pop2" role="tab" aria-controls="pop2" aria-selected="true">Como testar</a>
          <a class="nav-item nav-link" id="pop3-tab" data-toggle="tab" href="#pop3" role="tab" aria-controls="pop3" aria-selected="false">O que ela sabe responder</a>
          <a class="nav-item nav-link" id="pop4-tab" data-toggle="tab" href="#pop4" role="tab" aria-controls="pop4" aria-selected="false">Criação da Taís</a>

        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        
		<div class="tab-pane fade show active" id="pop1" role="tabpanel" aria-labelledby="pop1-tab">

                  	<h5>Em 13/11/2018:</h5>
                  	<ul>
                  	  <li>Acréscimo de conteúdo relacionado a promoção de marca.</li>
                  	  <li>Acréscimo de conteúdo relacionado a comercialização de ingressos.</li>
                  	  <li>Acréscimo de conteúdo relacionado a remuneração do proponente.</li>
                  	  <li>Evolução dos algoritmos de aprendizagem dos diálogos Tais.</li>

                  	</ul>
            		<h5>Em 05/11/2018:</h5>
            		<ul>
                         <li>Acréscimo de conteúdo relacionado captação de recursos e período de submissão de propostas.</li>
                            <li>Evolução dos algoritmos de aprendizagem para identificar as intenções do usuário pela Tais.</li>
            			</ul>
            			<h5>Em 31/10/2018:</h5>
            			<ul>
                          <li>Acréscimo de conteúdo relacionado ao limite de projetos por proponente, e ao valor máximo de projetos.</li>
                          <li>Evolução dos algoritmos de aprendizagem para identificar as intenções do usuário pela Tais.</li>
            			</ul>

            		<h5>Em 25/09/2018:</h5>
            			<ul>
            				<li>Ajuste no fluxo de conversa para melhorar a forma que a Taís reage à perguntas que ela não sabe responder, relacionadas à detalhes de projetos.</li>
            			</ul>

            			<h5>Em 15/09/2018:</h5>
            			<ul>
            				<li>Lançamento inicial da versão beta</li>
            			</ul>
		</div>

        <div class="tab-pane fade" id="pop2" role="tabpanel" aria-labelledby="pop2-tab">
			<p>Comece a conversa com a Taís se colocando no papel de <strong>alguém que não conhece nada sobre o universo do incentivo cultural</strong> e que tem curiosidade sobre o assunto.</p>
			<p>Depois disso, é só inicar o diálogo com a Taís, como se você estivesse conversando com uma pessoa. Ou seja, leia o que ela tem para dizer e responda em função disso. Evite saltar etapas ou fazer perguntas fora do contexto do que a Taís disse por último.</p>
        </div>
        <div class="tab-pane fade" id="pop3" role="tabpanel" aria-labelledby="pop3-tab">
          <div class="container">
			<p>No momento, a Taís procura tirar dúvidas das pessoas que estão dando os primeiros passos no incentivo de projetos culturais. As conversas que você tem com ela são a melhor forma de identificarmos os pontos a melhorar e os novos conteúdos que ela precisa aprender.</p>
			<p>Ela consegue falar sobre:</p>
            <div class="row">
              <div class="col-lg-4">
                <h5>Definições:</h5>
                <ul>
                  <li>Lei Rouanet</li>
                  <li>MinC</li>
                  <li>SEFIC</li>
                  <li>SALIC</li>
                  <li>vinculadas</li>
                  <li>proposta</li>
                  <li>projeto</li>
                  <li>preenchimento</li>
                  <li>admissibilidade</li>
                  <li>aprovação</li>
                  <li>execução</li>
                  <li>prestação de contas</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5>"Curiosidades":</h5>
                <ul>
                  <li>Quantidade de projetos</li>
                  <li>Benefícios para quem incentiva </li>
                  <li>Quem pode submeter projetos</li>
                  <li>Origem do dinheiro</li>
                  <li>Denúncia de projetos</li>
                  <li>Quais empresas podem se beneficiar ao apoiar projetos culturais</li>
                  <li>Possibilidade de incentivo por familiares</li>
                  <li>Redução dos Impostos para incentivadores</li>
                  <li>Quantidade máxima de projetos por proponente</li>
                  <li>Limite de valor por projeto</li>
                  <li>Possibilidade de ultrapassar o valor máximo</li>
                  <li>Captação de recursos</li>
                  <li>Comercialização de ingressos</li>
                  <li>Remuneração do proponente</li>
                  <li>Comprovação de experiência</li>
                  <li>Valores de pagamento de caches</li>
                </ul>
              </div>
              <div class="col-lg-4">
                <h5>Processo:</h5>
                <ul>
                  <li>Apresentação das etapas</li>
                  <li>Cadastro de usuários</li>
                  <li>Cadastro de proponentes</li>
                  <li>Prazos</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pop4" role="tabpanel" aria-labelledby="pop4-tab">
          <p>A Taís é uma assistente virtual desenvolvida pelo <a href="https://fga.unb.br/profile/lappis" target="_blank">LAPPIS - Laboratório Avançado de Produção, Pesquisa e Inovação em Software</a> (FGA/UnB), em parceria com o Ministério da Cultura.</p>
          <p>O nome é uma sigla para Tecnologia de Aprendizado Interativo do Salic. Ela tem como objetivo ajudar cidadãs e cidadãos a tirar dúvidas sobre a lei Rouanet e sobre o incentivo a projetos culturais.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% if user.is_authenticated %}
    <script type="text/javascript">
          var host = '{{ ROCKETCHAT_URL }}';

          (function(w, d, s, u) {

            w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;

            w.RocketChat(function() {
                var rc = this;
                this.onChatMaximized(function() {
                    rc.setGuestName("{{ user.username }}");
                    rc.setGuestEmail("{{ user.email }}");
                });
            });

            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
            j.async = true; j.src = host + '/packages/rocketchat_livechat/assets/rocketchat-livechat.min.js';
            h.parentNode.insertBefore(j, h);
          })(window, document, 'script', host + '/livechat');
    </script>
{% endif %}
