<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Tais - Assistente Virtual da Cultura{% endblock %}</title>
		<meta name="description" content="TAIS (Tecnologia de Aprendizado Interativo do Salic)">

		{% load static %}

		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
		<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

		{% load bootstrap4 %}

		{% bootstrap_css %}
		{% bootstrap_javascript jquery='full' %}

		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>

	<body>
		<main>
			<p id="betaWarning">Versão BETA</p>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-outline-dark" id="btLogout" onclick="location.href='{% url 'logout'  %}'">Sair</button>
            {% endif %}

			<div class="jumbotron jumbotron-fluid">
				<div class="container">
					<div id="avatar">
						<img src="{% static 'img/avatar.jpg' %}" />
						{% if user.is_authenticated %}
                        	<a href="mailto:tais.betateste@gmail.com?subject='Feedback sobre a Taís'">
								<button type="button" class="btn btn-danger btn-lg" id="btFeedback">Enviar feedback <div class="btn-subtitle">para tais.betateste@gmail.com</span></button>
                            </a>
						{% endif %}
					</div>
					<h1 class="display-3">Taís</h1>
					<h2>Assistente Virtual do MinC</h2>
				</div>
			</div>

			{% block content %}
			{% endblock %}
		</main>
	</body>
</html>
