<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}Tais - Assistente Virtual da Cultura{% endblock %}</title>
    <meta name="description" content="TAIS (Tecnologia de Aprendizado Interativo do Salic)">

    {% load static %}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&amp;subset=latin-ext" rel="stylesheet">

    {% load bootstrap4 %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        <p id="betaWarning">Versão BETA</p>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <img src="{% static 'img/avatar.jpg' %}" />
            <h1 class="display-3">Taís</h1>
            <h2>Assistente Virtual do MinC</h2>
          </div>
        </div>

        {% block content %}
        {% endblock %}
    </main>
</body>

</html>
